[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/LimYunGyoo
[access "refs/for/refs/*"]
	read = group user/LimYunGyoo
	push = group user/LimYunGyoo
	label-Code-Review = -2..+2 group user/LimYunGyoo
	label-Verified = -1..+1 group user/LimYunGyoo
	rebase = group user/LimYunGyoo
	removeReviewer = group user/LimYunGyoo
	submit = group user/LimYunGyoo
[access "refs/heads/*"]
	read = group user/LimYunGyoo
	create = group user/LimYunGyoo
	push = +force group user/LimYunGyoo
	pushMerge = group user/LimYunGyoo
[access "refs/tags/*"]
	push = group user/LimYunGyoo
	push = +force group user/LimYunGyoo
